*{
  margin: 0;
  padding: 0;
}
.page-contanier{
  background-color: black;
  text-align: center;
  width: 390px;
}
canvas {
  width: 370px !important;
  padding: 0 0 0  10px !important;
}
.title {
  width: 90%;
  margin: 0 auto;
  background-color: #041727;
  color: aliceblue;
  padding: 5px;
  /* font-weight: bold; */
}